.loginForm{
    width: 60%;
    margin: 200px auto;
    text-align: center;
}

.loginForm p{
    margin-bottom: 10px;
    font-size: 2.4rem;
}
.loginForm input{
    margin-bottom: 10px;
    height: 30px;
    text-align: center;
}

.loginForm button{
    border: none;
    background: none;
    border-radius: 2px;
    width: 70%;
    height: 40px;
}